#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.input-modal {
    font-weight: bolder;
    color:black;
    width:500px

}

.input-header, .input-m-percent, .my-scholar {
    font-weight: bolder;
    color:black;
    font-size: 16px

}

.imp_exp {
    padding: 0;
}
.imp_exp:hover {
    cursor: pointer;
    color:slateblue;
    font-weight: bold;
}
.reload {
    border: blueviolet 1px solid;
    border-radius: 3px;
    margin-left: 4rem;
    font-size: 12px;
    color: blueviolet;
    padding: 3px;
}  

.reload:hover {
    font-weight: bolder;
    cursor: pointer;
}
.bulbon {
    color:greenyellow
}
.bulboff {
    color: red
}
.serverbar {
    width: 150px;
    position: fixed;
    right: 50px;
    top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px greenyellow;
    align-items: center;
    border-radius: 20px;
}

.serverbar1 {
    width: 150px;
    position: fixed;
    right: 50px;
    top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px red;
    align-items: center;
    border-radius: 20px;
}
.serveron-text{
    color: rgba(255, 255, 255, 0.952);
    margin-left: 10px;
    font-weight: bolder;

}